In [41]:
import pandas as pd
import numpy as np
import json
from roleidentification import pull_data, get_roles
pd.set_option('display.max_columns', None)

In [45]:
ranks = pd.read_csv('../Data/allRanks.csv')
champs = pd.read_csv('../Data/champsOG.csv')

In [90]:
combinedDf = pd.concat([ranks, champs], axis=1)
#combinedDf.head()

In [81]:
all_champion_id = {
        1: "Annie",
        2: "Olaf",
        3: "Galio",
        4: "TwistedFate",
        5: "XinZhao",
        6: "Urgot",
        7: "LeBlanc",
        8: "Vladimir",
        9: "Fiddlesticks",
        10: "Kayle",
        11: "Master Yi",
        12: "Alistar",
        13: "Ryze",
        14: "Sion",
        15: "Sivir",
        16: "Soraka",
        17: "Teemo",
        18: "Tristana",
        19: "Warwick",
        20: "Nunu",
        21: "MissFortune",
        22: "Ashe",
        23: "Tryndamere",
        24: "Jax",
        25: "Morgana",
        26: "Zilean",
        27: "Singed",
        28: "Evelynn",
        29: "Twitch",
        30: "Karthus",
        31: "Cho'Gath",
        32: "Amumu",
        33: "Rammus",
        34: "Anivia",
        35: "Shaco",
        36: "Dr.Mundo",
        37: "Sona",
        38: "Kassadin",
        39: "Irelia",
        40: "Janna",
        41: "Gangplank",
        42: "Corki",
        43: "Karma",
        44: "Taric",
        45: "Veigar",
        48: "Trundle",
        50: "Swain",
        51: "Caitlyn",
        53: "Blitzcrank",
        54: "Malphite",
        55: "Katarina",
        56: "Nocturne",
        57: "Maokai",
        58: "Renekton",
        59: "JarvanIV",
        60: "Elise",
        61: "Orianna",
        62: "Wukong",
        63: "Brand",
        64: "LeeSin",
        67: "Vayne",
        68: "Rumble",
        69: "Cassiopeia",
        72: "Skarner",
        74: "Heimerdinger",
        75: "Nasus",
        76: "Nidalee",
        77: "Udyr",
        78: "Poppy",
        79: "Gragas",
        80: "Pantheon",
        81: "Ezreal",
        82: "Mordekaiser",
        83: "Yorick",
        84: "Akali",
        85: "Kennen",
        86: "Garen",
        89: "Leona",
        90: "Malzahar",
        91: "Talon",
        92: "Riven",
        96: "Kog'Maw",
        98: "Shen",
        99: "Lux",
        101: "Xerath",
        102: "Shyvana",
        103: "Ahri",
        104: "Graves",
        105: "Fizz",
        106: "Volibear",
        107: "Rengar",
        110: "Varus",
        111: "Nautilus",
        112: "Viktor",
        113: "Sejuani",
        114: "Fiora",
        115: "Ziggs",
        117: "Lulu",
        119: "Draven",
        120: "Hecarim",
        121: "Kha'Zix",
        122: "Darius",
        126: "Jayce",
        127: "Lissandra",
        131: "Diana",
        133: "Quinn",
        134: "Syndra",
        136: "AurelionSol",
        141: "Kayn",
        142: "Zoe",
        143: "Zyra",
        145: "Kai'sa",
        150: "Gnar",
        154: "Zac",
        157: "Yasuo",
        161: "Vel'Koz",
        163: "Taliyah",
        164: "Camille",
        201: "Braum",
        202: "Jhin",
        203: "Kindred",
        222: "Jinx",
        223: "TahmKench",
        235: "Senna",
        236: "Lucian",
        238: "Zed",
        240: "Kled",
        245: "Ekko",
        246: "Qiyana",
        254: "Vi",
        266: "Aatrox",
        267: "Nami",
        268: "Azir",
        350: "Yuumi",
        412: "Thresh",
        420: "Illaoi",
        421: "Rek'Sai",
        427: "Ivern",
        429: "Kalista",
        432: "Bard",
        497: "Rakan",
        498: "Xayah",
        516: "Ornn",
        517: "Sylas",
        523: "Aphelios",
        518: "Neeko",
        555: "Pyke",
        777: "Yone",
        875: "Sett",
        876: "Lillia",
    }

In [89]:
'''
Get a list of keys from dictionary which has the given value
'''
def getIdsByname(dictOfElements, valueToFind):
    listOfKeys = list()
    listOfItems = dictOfElements.items()
    for item  in listOfItems:
        if item[1] == valueToFind:
            listOfKeys.append(item[0])
    return  listOfKeys

[18]

In [87]:
#fix order of variables
#iterate through cleaned data, and pull out the correct indexes, and replace them in the data set
ekek = combinedDf.copy()
champion_roles = pull_data()

for index, row in ekek.iterrows():

    # copy row
    temp = row.copy()

    #create team1 and team2
    team1 = row[10:15].tolist()
    team2 = row[15:].tolist()

    #convert champ names back to Ids
    t1Ids = []
    t2Ids = []

    for i in range(5):
        t1Ids.append( getIdsByname(all_champion_id, team1[i])[0] )
        t2Ids.append( getIdsByname(all_champion_id, team2[i])[0] )

    #get predicted roles
    t1Roles = get_roles(champion_roles, t1Ids)
    t2Roles = get_roles(champion_roles, t2Ids)

    #convert ids back into champion list
    t1Champions = []
    t2Champions = []
    for i in t1Roles.keys():
       t1Champions.append( all_champion_id[ t1Roles[i] ] )
       t2Champions.append( all_champion_id[ t2Roles[i] ] )

    #switch champions and ranks with correct positions
    for i in range(5):
        t1Index = row.tolist().index( t1Champions[i] )
        t2Index = row.tolist().index( t2Champions[i] )
        temp[i+10] = row[t1Index]
        temp[i+15] = row[t2Index]
        temp[i] = row[t1Index - 10]
        temp[i+5] = row[t2Index - 10]

    ekek.loc[index] = temp
    
ekek.head()
ekek.tail()

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,player1,player2,player3,player4,player5,player6,player7,player8,player9,player10,team1Win
9995,15,15,21,25,21,19,19,21,19,9,Irelia,Kha'Zix,Annie,Caitlyn,Senna,JarvanIV,Shaco,Viktor,Jinx,Morgana,1
9996,19,21,20,13,21,21,10,25,19,16,Sivir,Kha'Zix,Akali,Ezreal,Shaco,Sion,Rek'Sai,Yone,Aphelios,Ahri,0
9997,1,7,4,4,8,8,13,7,13,8,Janna,XinZhao,Nautilus,Tristana,Lux,Sett,Warwick,Annie,Ashe,Senna,0
9998,10,15,20,14,16,19,20,16,14,14,Wukong,Dr.Mundo,Gnar,Ashe,Thresh,Illaoi,Kayn,Zed,Twitch,Leona,0
9999,14,19,7,19,16,8,14,19,15,15,Riven,Jax,Poppy,Vayne,Soraka,Malphite,Kindred,Yone,Yasuo,Akali,0

In [94]:
#rename columns
roles = ['Top', 'Jungle', 'Mid', 'Bottom', 'Support']
colDict = {}
for i in range(5):
    colDict['p{}'.format(i+1)] = '{}Rank1'.format(roles[i])
    colDict['p{}'.format(i+6)] = '{}Rank2'.format(roles[i])
    colDict['player{}'.format(i+1)] = '{}1'.format(roles[i])
    colDict['player{}'.format(i+6)] = '{}2'.format(roles[i])

ekek.rename(columns=colDict, inplace=True)

,TopRank1,JungleRank1,MidRank1,BottomRank1,SupportRank1,TopRank2,JungleRank2,MidRank2,BottomRank2,SupportRank2,Top1,Jungle1,Mid1,Bottom1,Support1,Top2,Jungle2,Mid2,Bottom2,Support2,team1Win
0,20,15,31,25,25,25,25,13,25,25,Mordekaiser,Graves,Kassadin,Jhin,Lulu,Jax,Ekko,Janna,Kai'sa,Karma,1
1,19,19,19,19,20,19,19,19,9,22,Camille,Kayn,Yasuo,Ashe,Swain,Vladimir,Pantheon,Galio,Aphelios,Lux,0
2,10,19,19,21,9,15,19,13,20,15,Gnar,LeeSin,Veigar,Ashe,Thresh,Yorick,Kha'Zix,LeBlanc,Jhin,Morgana,0
3,20,16,9,15,2,16,14,16,16,16,Akali,Volibear,Yone,Tristana,Swain,Fiora,Ekko,Nidalee,Vayne,Sett,1
4,19,15,14,13,10,9,15,15,14,15,Mordekaiser,Jax,Diana,Lucian,Lulu,Kennen,Kha'Zix,Yasuo,Ezreal,Lux,1

In [134]:
numColNames = ekek.select_dtypes([np.number]).columns
totMask = [False] * len(ekek)

#create unranked variables
for name in numColNames:
    if name == 'team1Win':
        continue

    temp = ekek[name] == -1
    ekek['{}{}'.format(name,'unranked')] = temp

In [151]:
#add dummies
catColNames = ekek.select_dtypes(include=['object']).columns

abt = pd.get_dummies(ekek, columns=catColNames)

#abt.head()

In [153]:
#save final data fram
abt.to_csv('../Data/finalDataFrame.csv')